* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  background: url('/backgroundBlur.jpg');
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(0 0 0 / 31%);
  border-radius: 5px;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 45%;
  max-height: 50%;
  padding: 28px 28px;
  margin-left: 25%;
  margin-top: 4%;
  border-radius: 5px;
  /* opacity: .8; */
  opacity: 0.9;
}

.TaskBoard {
  font-size: 30px;
  font-weight: 700;
  /* margin-bottom: 13px; */
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: 400;
  letter-spacing: 1px;
  /* margin: 17px; */
  font-size: 18px;
  margin-top: 36px;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #f5f0f0;
}

button {
  font: inherit;
  background: #7e939d;
  border: 1px solid #9e9e9e;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  letter-spacing: 1.5px;
  font-size: 14px;
  margin: 13px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: rgb(175, 172, 172);
  mix-blend-mode: darken;
  border-color: #0f0d0e;
}

.projects {
  margin: 1rem;
  border: 1px solid #607d8b;
}

.projects header {
  background: #2c97c7;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  opacity: 0.7;
}

#finished-projects {
  border-color: #0044ff;
}

#finished-projects header {
  background: #009688;
  opacity: 0.7;
}

.projects h2 {
  margin: 0;
  color: white;
  letter-spacing: 1.5px;
  font-size: 18px;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  background: white;
}

.projects li h2 {
  color: black;
  margin: 0.5rem 0;
  font-size: 21px;
  letter-spacing: 0.7px;
}

#finished-projects li h2 {
  color: #060606;
}

.projects li h3 {
  color: #606060;
  font-size: 15px;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #03a9f43b;
}

#finished-projects .droppable {
  background: #2bc7b830;
}

#user-input {
  margin: 1rem;
  padding: 2rem;
  /* border: 1px solid #607d8b; */
  background: white;
  border-radius: 2px;
}

.desc {
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: 500;
  color: black;
}
